/*aside*/
.all-aside {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #333;
    overflow: auto;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.menu_dropdown dl {
    margin-bottom: 0;
}
.menu_dropdown dt {
    position: relative;
    display: block;
    color: #fff;
    line-height: 35px;
    padding-left: 15px;
    cursor: pointer;
    border-bottom: 1px solid #222;
    font-weight: normal;
}
.menu_dropdown-arrow {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 15px;
    transition-duration: 0.3s;
    transition-property: all;
}
.menu_dropdown dd {
    display: none;
}
.menu_dropdown dt.selected .menu_dropdown-arrow{
    transform: rotate(180deg);
}
.menu_dropdown dd.selected{
    display:block;
    margin-left:0px;
}
.menu_dropdown ul{
    padding:0px;
    margin-bottom: 0 !important;
}
.menu_dropdown li{
    line-height: 35px;
    overflow: hidden;
    zoom: 1;
}
.menu_dropdown li a{
    padding-left: 15px;
    display: block;
    font-weight: bold;
    margin: 0;
    color:#fff;
    border-bottom: 1px solid #222;
}
.menu_dropdown li a:hover{
    color: #fff;
    background-color: #777;
}
.menu_dropdown li a i{
    font-weight: normal;
}
.menu_dropdown dd ul {
    padding: 3px 8px;
}
.menu_dropdown dd li {
    overflow: hidden;
    line-height: 32px;
}
.menu_dropdown dd li a {
    display: block;
    color: #fff;
    line-height: 32px;
    padding-left: 26px;
    border-bottom: none;
    font-weight: normal;
    margin: 0;
}
.menu_dropdown dd li a:hover {
    color:#fff;
    background-color:#777;
}
.menu_dropdown li.current a,
.menu_dropdown li.current a:hover{
    color:#fff;
    background:#777;
}
/*菜单收缩切换*/
.dislpayArrow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    width: 0px;
    height: 100%;
    z-index: 10;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.dislpayArrow a{
    position: absolute;
    display: block;
    width: 17px;
    height: 61px;
    top: 50%;
    margin-top: -30px;
    outline: none;
    background: url(../images/icon_arrow.png) no-repeat 0 0;
}
.dislpayArrow a.open{
    background-position: 0 -61px;
}
.dislpayArrow a:hover{
    text-decoration: none;
    background-position: right 0;
}
.dislpayArrow a.open:hover{
    background-position: right -61px;
}

/* article-box */
.article-box {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
#div_view {
    height: 100%;
    border: none;
}
.big-page .article-box,
.big-page .dislpayArrow {
    left: 0px;
}
.big-page .all-aside{
    left: -200px;
}