@charset "utf-8";
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, div, ul, li, p, ol, img {
	padding: 0;
	margin: 0;
}
.movie {
	width: 200px;
	float: left;
	margin: 10px;
}
.movie .img-box,
.movie .img-box img {
	display: block;
	width: 100%;
}
